/* Section */
.section-line {
  width: 30px;
  height: 2px;
  background-color: var(--color-secondary);
  margin-left: 16px;
}

.wrapper-between {
  display: flex;
  flex-direction: row;
}
.wrapper-between-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.relative {
  position: relative;
}

.img-portfolio-container:hover {
  box-shadow: -5px 5px 6px #00000029;
  cursor: pointer;
}

.img-profile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-profile {
  mix-blend-mode: hard-light;
}

.mw-100 {
  min-width: 100px;
}
