/* Navbar */
.navbar {
  height: auto;
  width: 100%;
  background-color: var(--color-primary);
  z-index: 10;
}

.navbar-container {
  padding: 23px 100px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 23px;
  background-color: var(--color-primary);
}

.navbar-border {
  height: 2px;
  background-color: var(--color-secondary);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  opacity: 0.27;
}

.navbar a:hover {
  color: var(--color-secondary);
}

.navbar-brand {
  font-size: 20px;
  font-weight: 600;
}

.navbar-nav-right a {
  font-weight: bold;
  font-size: 15px;
  margin-left: 41px;
}

.box-shadow {
  box-shadow: -5px 5px 6px #00000029;
}

/* Hamburger Menu Icon */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
  display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: var(--color-text);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px) translateX(-6px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 50px;
  right: 0;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  width: 90%;
  height: 100%;
  padding: 30px;
  transition: all 0.3s;
}

.mobile-menu a:hover {
  color: var(--color-text);
}

.mobile-menu div {
  margin-top: 20px;
}

.mobile-menu div a {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.hidden {
  transform: translateX(100%);
}

.no-scroll {
  overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

